* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
}
body {
  background-color: black;
  color: white;
  font-size: 62.5%;
}
.font-small {
  font-size: 0.4rem;
}
.font-main-header {
  font-size: larger;
}
.font-sub-title {
  font-size: medium;
}

.btn-black {
  background-color: black;
}

.part1 {
  padding: 1rem;
}

.logo-image {
  width: 0.8rem;
  height: 0.8rem;
}
.part3-container1 {
  width: 50%;
  height: 100%;
}
.part3-image {
  width: 345px;
  height: 300px;
}
